@font-face {
  font-family: logoFont;
  src: url(Oswald/Oswald-VariableFont_wght.ttf);
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --secondary-bg-color: rgba(243, 243, 243, 0.829);
  --greenColor: #596D48;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "logoFont";
}

.image-bg {
  width: 33vw;
  height: 100%;
  position: relative;
}

.image-bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-bg .dark-background {
  width: 100%;
  height: 25vh;
  position: absolute;
  top: 300px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dark-background img {
  width: 25%;
  color: black;
  object-fit: contain;
}

.dark-background h2{
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
}

.credit {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 67vw;
}

.box {
  height: 33%;
  padding-left: 10vw;
  padding-right: 50px;
  padding-bottom: 50px;
}

.header {
  align-content: end;
  background-color: var(--secondary-bg-color);
  padding-top: 10vh;
  padding-right: 80px;
}

.header > p {
  font-size: 30px;
}

.submit-wrapper {
  background-color: var(--secondary-bg-color);
  padding-top: 50px;
  font-size: large;
}

form {
  border-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.input-wrapper {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding-right: 20vw;
  flex-wrap: wrap;
}

.flex-item-input-group {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.form {
  box-shadow: 10px 5px 5px black;
}

input {
  flex-basis: 50vw;
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 20px;
}

input:focus {
  outline: 2px solid blue;
  box-shadow: inset;
}

input:user-invalid{
  outline: 2px solid red;
}

input:user-valid{
  outline: 2px solid green;
}

label {
  flex-basis: 40%;
}

button {
  padding: 15px 40px;
  background-color: var(--greenColor);
  color: white;
  font-weight: 900;
  font-size: medium;
  text-transform: capitalize;
  border-radius: 15px;
  font-family: 'logoFont';
}

a {
  color: var(--greenColor);
  text-decoration: none;
  font-weight: 600;
}
