@font-face {
  font-family: logoFont;
  src: url(Oswald/Oswald-VariableFont_wght.ttf);
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --secondary-bg-color: rgba(243, 243, 243, 0.829);
  --greenColor: rgba(19, 102, 19, 0.74);
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "logoFont";
}

.image-bg {
  width: 33vw;
  height: 100%;
}

.image-bg > img {
  width: 100%;
  height: 100%;
  position: relative;
}
.image-bg .dark-background {
  width: 33%;
  height: 12vh;
  position: absolute;
  top: 300px;
  left: 0;
  background-color: white;
  opacity: 0.3;
  display: inline;
  justify-content: center;
}

.dark-background img {
  width: 30%;
  height: inherit;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: yellow;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 67vw;
}

.box {
  height: 33%;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  align-content: end;
  background-color: var(--secondary-bg-color);
  padding-right: 80px;
}

.header > p {
  font-size: 40px;
}

.submit-wrapper {
  background-color: var(--secondary-bg-color);
  padding-top: 50px;
  font-size: large;
}

form {
  border-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.input-wrapper {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding-right: 20vw;
  flex-wrap: wrap;
}

.flex-item-input-group {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.form {
  box-shadow: 10px 5px 5px black;
}

input {
  flex-basis: 50vw;
  display: flex;
  border: 2px solid grey;
  border-radius: 5px;
}

label {
  flex-basis: 40%;
}

button {
  padding: 15px 40px;
  background-color: var(--greenColor);
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 15px;
}

a {
  color: var(--greenColor);
  text-decoration: none;
  font-weight: 600;
}
